@charset 'UTF-8';

//------------------------------------
//  404 PAGE
//------------------------------------

.not-found-row {
	margin: 60px 0;
	@include breakpoint (small, 'max') {
		margin: 0 0 20px;
	}
	.title-call {
		@include font-size(40px);
		font-family: $bebas_neueregular;
		margin-bottom: 20px;
		font-weight: 100;
	}
}

.not-found-text {
	@include font-size(16px);
	background-color: #f2f4f7;
	font-family: $bebas_neueregular;
	margin-bottom: 30px;
	padding: 20px 0;
}

.btn {
	@include font-size(16px);
	border: 1px solid #000000;
	color: #000000;
	font-family: $bebas_neueregular;
	&.btn-default {
		padding: 10px 45px;
	}
}

.not-found-page {
	.input-search {
		background-color: $color-five;
		color: #434343;
		@include breakpoint (small, 'max') {
			width: 80%;
		}
	}
}

.box-notfound {
	background: #fff;
	border: 1px solid #becdda;
	color: #000000;
	min-height: 380px;
	padding: 50px;
	position: relative;
	text-align: center;
}