@charset 'UTF-8';

//------------------------------------
//  CATEGORY PAGE STYLE
//------------------------------------

.page-title {
	&.info-post_subtitle {
		@include font-size(54px);
		color: #0e6797;
		font-family: $helvneue-cn;
	}
}

.category-container {
	.informations_post {
		padding-bottom: 5px;
	}
}

.read_more-link {
	@include font-size(26px);
	color: #58595b;
	font-family: $helvneue-cn;
	opacity: 1;
	position: relative;
	text-transform: uppercase;
	&:before {
		background:transparent url('images/ico/ico_readmore.png') center center no-repeat;
		content: '';
		height: 25px;
		position: absolute;
		top: -3px;
		right: -35px;
		width: 27px;
	}
}

.btn-top {
	@include font-size(22px);
	background-color: #0e6797;
	bottom: 20px;
	color: #ffffff;
	font-family: $helvneue-cn;
	padding: 10px 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	width: 180px;
	@include breakpoint(medium, 'max') {
		bottom: 0;
	}
}