@charset 'UTF-8';

.footer {
	background-color: #93a4b3;
	color: $color-four;
	font-family: $bebas_neueregular;
	padding: 50px 0;
	@include breakpoint(small, 'max') {
		padding: 50px 10px;
	}
	.menu {
		padding: 0;
	}
	.menu-item {
		@include font-size(14px);
		border: 0;
		color: $color-four;
		float: none;
		font-family: Arial;
		font-weight: 400;
		list-style: none;
		margin: 20px 0;
		text-align: left;
		text-transform: none;
		transition: none;
		a {
			padding: 0;
		}
		&:hover {
			background-color: transparent;
			color: #3c3c3c;
			cursor: pointer;
			text-decoration: underline;
		}
		&:before {
			display: none;
		}
	}
	.menu-links {
		a {
			display: block;
			padding-left: 15px;
			position: relative;
			&:before {
				background: url('images/ico/ico-external-link-light.png') left top no-repeat;
				content: '';
				display: inline-block;
				height: 12px;
				left: 0;
				overflow: hidden;
				position: absolute;
				top: 2px;
				vertical-align: middle;
				width: 12px;
			}
			&:hover {
				&:before {
					background-position: left bottom;
				}
			}
		}
	}
}

.bg-border {
	background: url('images/ico/bg_title_footer.png') left bottom no-repeat;
}

.footer-title {
	@include font-size(24px);
	background: url('images/ico/bg_title_footer.png') left bottom no-repeat;
	font-family: $bebas_neueregular;
	font-weight: 400;
	margin-top: 20px;
	padding-bottom: 20px;
}

.social-row {
	margin-top: 20px;
	ul {
		padding: 0;
	}
	.social-item {
		float: left;
		height: 32px;
		list-style: none;
		margin: 0 20px 0 0;
		width: 32px;
	}
}