@charset 'UTF-8';

.pre-header {
	background-color: $color-four;
	padding: 13px 0;
	.form-search {
		@include breakpoint(small, 'max') {
			-webkit-transition: right 300ms ease-in-out;
			background-color: $color-one;
			height: 86px;
			padding: 26px 10px;
			position: fixed;
			right: -100%;
			top: -0;
			transition: right 300ms ease-in-out;
			width: 100%;
			z-index: 3;
			.input-search {
				width: 90%;
			}
			&.active {
				right: 0;
			}
		}
	}
}

.header-title {
	@include font-size(20px);
	color: $color-four;
	text-transform: uppercase;
}

.header {
	transition: top 300ms ease-in-out;
	width: 100%;
	z-index: 999;
	// @include breakpoint(small, 'min') {
	// 	left: 0;
	// 	position: fixed;
	// 	top: 0;
	// }
	&.fixed {
		top: -60px;
		.logo {
			@include breakpoint(small, 'min') {
				left: 50px;
				top: 10px;
				width: 115px;
			}
		}
	}
	.social-row {
		margin-top: 0;
		ul {
			margin: 0;
			padding: 0;
		}
		.social-col {
			font-size: 2px;
		}
		.social-item {
			display: inline-block;
			float: none;
			height: auto;
			list-style: none;
			margin: 0;
			width: auto;
		}
	}
}

.menu-row {
	background-color: $color-four;
	border-top: 1px solid #d5dfe7;
	@include breakpoint(small, 'max') {
		min-height: 60px;
		position: relative;
	}
	nav[class*='menu-principal'] {
		margin: -1px auto;
		max-width: 1080px;
		position: relative;
	}
	.container {
		max-width: 1080px;
	}
}

.header-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	@include breakpoint(small, 'max') {
	    -webkit-transition: left 300ms ease-in-out;
		background-color: #f0f0f0;
		left: -90%;
		padding: 80px 10px 10px;
		position: fixed;
		top: 0;
	    transition: left 300ms ease-in-out;
		width: 90%;
		z-index: 1;
		&.active {
			left: 0;
		}
	}
	.menu-item {
		@include font-size(24px);
		border-color: #d5dfe7;
		border-style: solid;
		border-width: 1px 1px 0;
		color: #92a4b4;
		float: left;
		font-family: $bebas_neueregular;
		margin-left: -1px;
		max-width: 216px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		transition: all .2s ease-in-out;
		width: 100%;
		a {
			display: block;
			padding: 23px 0 11px;
			@include breakpoint(small, 'max') {
				padding: 0;
			}
		}
		&:hover {
			background-color: $color-one;
			color: $color-four;
			cursor: pointer;
		}
		&:before {
			content: '';
			height: 46px;
			left: 50%;
			margin: 0 auto 0 -20px!important;
			position: absolute;
			top: -20px;
			width: 40px;
		}
		&.indices {
			&:before {
				background: transparent url('images/ico/indices.png') center center no-repeat;
			}
		}
		&.ensino {
			&:before {
				background: transparent url('images/ico/ensino.png') center center no-repeat;
			}
		}
		&.projetos {
			&:before {
				background: transparent url('images/ico/projetos-e-pesquisas.png') center center no-repeat;
			}
		}
		&.publicacoes {
			&:before {
				background: transparent url('images/ico/publicacoes.png') center center no-repeat;
			}
		}
		&.sobre {
			&:before {
				background: transparent url('images/ico/sobre-a-fipe.png') center center no-repeat;
			}
		}
		@include breakpoint(small, 'max') {
			border-bottom: 2px solid #b4b4b4;
			float: none;
			max-width: 100%;
			padding: 15px 10px;
			text-align: left;
			&:hover {
				color: $color-one;
			}
			&:last-child {
				border: none;
			}
		}
	}
}


.menu-open {
	cursor: pointer;
	height: 60px;
	left: 15px;
	position: absolute;
	width: 30px;
	z-index: 2;
	@include breakpoint(small, 'min') {
		display: none;
	}
	&.active {
		span {
			background-color: transparent;
			&:before {
				-webkit-transform: translateY(0) rotate(45deg);
				transform: translateY(0) rotate(45deg);
			}
			&:after {
				-webkit-transform: translateY(0) rotate(-45deg);
				transform: translateY(0) rotate(-45deg);
			}
		}
	}
	span {
		-webkit-transition: background-color 300ms ease-in-out;
		background-color: $color-one;
		display: block;
		height: 5px;
		left: 0;
		margin-top: -2px;
		position: absolute;
		top: 50%;
		transition: background-color 300ms ease-in-out;
		width: 100%;
		&:before,
		&:after {
			-webkit-transition: transform 300ms ease-in-out;
			background-color: $color-one;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			transition: transform 300ms ease-in-out;
			width: 100%;
		}
		&:before {
			-webkit-transform: translateY(-200%);
			transform: translateY(-200%);
		}
		&:after {
			-webkit-transform: translateY(200%);
			transform: translateY(200%);
		}
	}
}

.search-open {
	background: transparent url('images/icon-search-mob.png') center center no-repeat;
	height: 60px;
	position: absolute;
	right: 12px;
	top: 0;
	width: 30px;
	@include breakpoint(small, 'min') {
		display: none;
	}
}


.lang-col {
	border-right: solid 1px #c1cddb;
	font-size: 0;
	padding-right: 15px;
	.lg,
	.lang-item {
		background: #becdda;
		border-radius: 0 26px 26px 0;
		display: inline-block;
		height: 26px;
		margin: 0 auto;
		top: 0;
		transition: all .2s ease-in-out;
		width: 26px;
		a {
			@include font-size(16px);
			color: #fff;
			display: block;
			font-family: $bebas_neueregular;
			padding: 4px 3px 0 0;
			text-align: center;
			text-decoration: none;
		}
		&.lang-item-first {
			border-radius: 26px 0 0 26px;
			a {
				padding: 4px 0 0 3px;
			}
		}
		&.active, &.current-lang {
			background: #92a4b4;
		}
	}
}















