@charset 'UTF-8';

//------------------------------------
//  LIST POSTS
//------------------------------------

.content-post {
	float: left;
	margin-bottom: 30px;
	width: 100%;
}

.content-infos {
	border-bottom: 1px dotted #58595b;
	border-width: 5px;
	float: left;
	padding-bottom: 5px;
	width: 100%;
}
