@charset 'UTF-8';

//------------------------------------
//  LIST POSTS
//------------------------------------


.posts-container {
	border: 3px solid $color-one;
	border-width: 3px 0;
	padding: 50px 0 40px;
}

.content-post {
	float: left;
	padding: 20px 0;
	width: 100%;
	&:first-child {
		padding: 0 0 20px;
	}
	&:last-child {
		padding: 20px 0 0;
	}
	.info-title {
		margin: 0;
		padding: 28px 0 13px;
		@include breakpoint(small, 'max') {
			@include font-size(14px);
			padding: 5px 0;
		}
	}
}

.img,
.content-infos {
	float: left;
	width: 100%;
}
.img {
	max-width: 460px;
}
.content-infos {
	max-height: 225px;
	max-width: 720px;
	overflow: hidden;
	padding-left: 20px;
	@include breakpoint(small, 'max') {
		padding: 0 5px;
	}
}

.date {
	@include font-size(13px);
	color: $color-one;
	font-family: $proximanova-regular;
	padding-top: 4px;
}

.content-text {
	@include font-size(16px);
	font-family: $proximanova-light;
	@include breakpoint(small, 'max') {
		@include font-size(14px);
	}
}

.img-list {
	width: 100%;	
}

.top-page {
	padding: 0 15px;
}