@charset 'UTF-8';

//------------------------------------
//  MENU SIDEBAR STYLE
//------------------------------------

.cursos-row {
	background-color: #f6f4f5;
	padding-bottom: 35px;
}

.cursos-title {
	padding: 30px 0;
	text-transform: uppercase;
}

.cursos-listagem {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-menu-sidebar-container {
	.menu-item {
		color: #92a4b2;
		display: inline-block;
		padding: 50px 20px 0;
		position: relative;
		text-transform: uppercase;
		&:before {
			content: '';
			height: 40px;
			left: 0;
			position: absolute;
			top: 0px;
			width: 100%;
		}
		&.mba {
			&:before {
				background: transparent url('images/cursos/mba.png') center center no-repeat;
			}
		}
		&.curta {
			&:before {
				background: transparent url('images/cursos/curta-duracao.png') center center no-repeat;
			}
		}
		&.ead {
			&:before {
				background: transparent url('images/cursos/ead.png') center center no-repeat;
			}
		}
		&.capacitacao {
			&:before {
				background: transparent url('images/cursos/capacitacao.png') center center no-repeat;
			}
		}
		&.preparatorios {
			&:before {
				background: transparent url('images/cursos/preparatorio.png') center center no-repeat;
			}
		}
		&.contas {
			&:before {
				background: transparent url('images/cursos/contas-publicas.png') center center no-repeat;
			}
		}
		&.corpo {
			&:before {
				background: transparent url('images/cursos/corpo-docente.png') center center no-repeat;
			}
		}
	}
}

.sidebar-post-col {
	.widget_nav_menu {
		border: 1px solid #1a77b9;
		padding: 15px;
		h4, .title-sidebar {
			@include font-size(16px);
			color: #0e6797;
			font-family: $helvneue-bdcn;
			text-align: left;
			text-transform: uppercase;
		}
		.menu {
			padding: 0;
		}
		.menu-item {
			@include font-size(18px);
			border-top: 1px dashed #9ac3e0;
			display: block;
			font-family: $helvneue-bdcn;
			height: 48px;
			padding: 15px 0 15px 55px;
			text-align: left;
			&:before {
				background-size: contain;
				height: 30px;
				left: 10px;
				top: 50%;
				transform: translateY(-50%);
				width: 35px;
			}
			&:first-child {
				border: none;
			}
		}
	}
}

.curso-item {
	color: #92a4b2;
	display: inline-block;
	padding: 0 20px;
	text-transform: uppercase;
	p {
		margin-top: 10px;
	}
}