@charset 'UTF-8';

//------------------------------------
//  MODAL
//------------------------------------


.themodal-overlay {
	background: rgba(0, 0, 0, .8);
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	zoom: 1;
}

/* fix for iPad glitches */
// .themodal-overlay > * {
//     -webkit-transform: translateZ(0px);
// }

.modal {
	background-color: $color-four;
	bottom: inherit;
	display: table;
	height: auto;
	left: 50%;
	max-width: 635px;
	padding: 20px 0 0;
	position: absolute;
	text-align: left;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 100%;
	@include breakpoint(small, 'max') {
		padding: 10px;
	}
}

.box-modal {
	background-color: #caeeff;
	padding: 35px 25px 10px 30px;
}

.modal__conteudo {
	@include breakpoint(small, 'max') {
		padding-right: 15px;
	}
}

.modal__conteudo-title {
	@include font-size(34px);
	color: #0e6797;
	font-family: $helvneue-cn;
	text-align: center;
	text-transform: uppercase;
}

.modal__conteudo-text {
	@include font-size(16px);
	@include breakpoint(small, 'max') {
		@include font-size(14px);
	}
}

.modal__conteudo::-webkit-scrollbar {
	display: block;
	width: 15px;
}

.modal__conteudo::-webkit-scrollbar-track {
	background: #dbdbdb;
	border-radius: 10px;
	display: block;
	padding: 2px;
	//margin: 10px auto;
}

.modal__conteudo::-webkit-scrollbar-thumb {
	background: #646464;
	border-radius: 10px;
}

.btn-close {
	@include font-size(32x);
	font-family: $helvneue-bdcn;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
}

.subscribe-modal {
	.modal {
		padding-top: 0;
	}
	.box-modal {
		//padding: 0;
	}
	.form_part-2 {
		.form-row {
			&>div {
				display: inline-block;
			}
		}
	}
}

//form

.form-row {
	margin-bottom: 15px;
}

.btn-form {
	@include font-size(22px);
	background-color: #0e6797;
	border: none;
	color: #ffffff;
	font-family: $helvneue-cn;
	padding: 5px 5px 0 5px;
	text-transform: uppercase;
}

.text-obrigatorio {
	@include font-size(18px);
	color: #0e6797;
	text-transform: uppercase;
}

.form-cadastro {
	label {
		@include font-size(27px);
		color: #0e6797;
		font-family: $helvneue-cn;
		text-align: left;
		text-transform: uppercase;
	}
	input[type=text],
	input[type=email] {
		@include font-size(18px);
		background: transparent;
		border-color: #0e6797;
		border-style: solid;
		border-width: 1px;
		color: #0e6797;
		display: block;
		width: 100%;
	}
}

.form_part-2 {
	.modal__conteudo-title {
		margin-bottom: 25px;
	}
}





















