@charset 'UTF-8';

//------------------------------------
//  POST PAGE STYLE
//------------------------------------
.top-post-image {
	height: 270px;
	.img-responsive {
		height: 270px;
	}
}

.conteudo-post {
	@include font-size(16px);
	font-family: $proximanova-light;
	line-height: 22px;
}

.content-post-row {
	padding: 20px 0;
}

.post-image {
	border: 1px solid #acadad;
	padding: 8px;
	img {
		width: 100%;
	}
}

.row-post_title {
	padding: 25px 0;
}

.post-title {
	@include font-size(30px);
	color: #0e6797;
	font-family: $helvneue-bdcn;
	text-transform: uppercase;
}

.informations_post {
	border-bottom: 4px solid #acadad;
	margin-bottom: 20px;
	padding: 20px 0;
	position: relative;
	&:before {
		background-color: #29abdf;
		border-right: 3px solid #FFFFFF;
		bottom: -4px;
		content: '';
		height: 4px;
		left: 0;
		position: absolute;
		width: 65px;
	}
}

.info-post_subtitle {
	@include font-size(24px);
	color: #515151;
	font-family: $helvneue-bdcn;
	text-transform: uppercase;
}

.box-infos {
	border: 1px solid #acadad;
	padding: 0 23px;
}

.box-infos_list {
	list-style: none;
	padding: 0;
}

.box-infos_item {
	@include font-size(18px);
	color: #58595b;
	font-family: $helvneue-cn;
	height: 32px;
	padding: 7px 30px;
	position: relative;
	span {
		font-family: $helvneue-bdcn;
	}
	&:before {
		background: transparent url('images/sprite-infos.png') center top no-repeat;
		content: '';
		height: 16px;
		left: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 26px;
	}
	&.item-horario {
		&:before {
			background: transparent url('images/sprite-infos.png') center -30px no-repeat;
		}
	}
	&.item-vagas {
		&:before {
			background: transparent url('images/sprite-infos.png') center -59px no-repeat;
		}
	}
	&.item-carga {
		&:before {
			background: transparent url('images/sprite-infos.png') center -86px no-repeat;
		}
	}
	&.item-responsavel {
		&:before {
			background: transparent url('images/sprite-infos.png') center -115px no-repeat;
		}
	}
	&.item-local {
		&:before {
			background: transparent url('images/sprite-infos.png') center bottom no-repeat;
		}
	}
}

.info-post_text {
	@include font-size(16px);
	font-family: $helvneue-cn;
	margin-bottom: 10px;
}

.post-sub_title {
	color: #29abdf;
	font-family: $helvneue-bdcn;
}

.post-info_values {
	@include font-size(18px);
	color: #29abdf;
	font-family: Arial;
	margin-bottom: 5px;
}

.btn-subscribe {
	@include font-size(24px);
	background: #9bcbec;
	border: 1px solid #1a77b9;
	color: #FFFFFF;
	display: block;
	font-family: $helvneue-cn;
	padding: 7px 0;
	text-align: center;
}


.sidebar-post-col {
	margin-top: 30px;
	.title-call {
		margin: 20px 0 15px;
	}
	@include breakpoint(small, 'min') {
		padding: 0 40px;
	}
	.widget_text {
		text-align: center;
		@include breakpoint(small, 'max') {
			display: none;
		}
		.btn-subscribe {
			margin: 0 25px;
		}
	}
	.widget {
		margin-bottom: 20px;
	}
}

.the-content {
	padding: 20px 0;
	@include breakpoint(small, 'max') {
		padding: 20px 10px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		line-height: inherit;
		margin: inherit;
		padding: inherit;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		line-height: 115%;
	}

	/* =WordPress Core
	-------------------------------------------------------------- */
	.alignnone {
		margin: 5px 20px 20px 0;
	}

	.aligncenter,
	div.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}

	img {
		@include breakpoint(small, 'max') {
			height: auto;
			width: 100%;
		}
	}

	.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}

	.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	a img.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}

	a img.alignnone {
		margin: 5px 20px 20px 0;
	}

	a img.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	a img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.wp-caption {
		background: #fff;
		border: 1px solid #f0f0f0;
		max-width: 96%; /* Image does not overflow the content area */
		padding: 5px 3px 10px;
		text-align: center;
	}

	.wp-caption.alignnone {
		margin: 5px 20px 20px 0;
	}

	.wp-caption.alignleft {
		margin: 5px 20px 20px 0;
	}

	.wp-caption.alignright {
		margin: 5px 0 20px 20px;
	}

	.wp-caption img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}

	.wp-caption p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
	}

	/* Text meant only for screen readers. */
	.screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		white-space: nowrap;
		width: 1px;
	}

	.screen-reader-text:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
		clip: auto!important;
		color: #21759b;
		display: block;
		//font-size: 14px;
		font-size: .875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}

}

.widget-list-item {
	margin-bottom: 10px;
	.info-title,
	.content-text {
		@include font-size(14px);
	}
	.info-title {
		margin-bottom: 3px;
	}
	.date {
		margin-bottom: 5px;
	}
	.content-infos,
	.img {
		display: inline-block;
		float: none;
	}
	.img {
		width: auto;
	}
	.content-infos {
		max-height: 76px;
		overflow: hidden;
		padding: 0;
		width: 226px;
		@include breakpoint(small, 'max') {
			max-width: 75%;
			width: 100%;
		}
	}
	&.no-image {
		.content-infos {
			width: 100%;
		}
	}
}
