@charset 'UTF-8';

//------------------------------------
//  FORMULARIOS
//------------------------------------

form {
	border: 0;
	margin: 0;
	padding: 0;
	& * {
		border: 0;
		margin: 0;
		padding: 0;
	}
	input,
	textarea {
		color: $color-four;
		font-family: $bebas_neueregular;
		padding: 10px;
		&:focus {
			outline: none;
		}
		@include breakpoint(small, 'max') {
			width: 100%;
		}
	}
	textarea {
		resize: none;
	}
}

.form-box {
	padding: 20px 0;
	@include breakpoint(small, 'max') {
		padding: 20px 10px;
	}
	input {
		&[type='submit'] {
			@include font-size(20px);
			background-color: transparent;
			border: 2px solid #3c3c3c;
			color: #3c3c3c;
			cursor: pointer;
			display: block;
			font-family: $bebas_neueregular;
			margin: 0 auto;
			width: 67px;
		}
	}

		//Hacks for placeholder color "textarea"

	textarea::-webkit-input-placeholder,
	input::-webkit-input-placeholder { // WebKit, Blink, Edge
		color: $color-four;
		text-transform: none;
	}
}

.form-title {
	@include font-size(24px);
	color: $color-one;
	font-family: $proximanova-bold;
	margin-bottom: 30px;
	span {
		color: $color-two;
	}
	@include breakpoint(small, 'max') {
		@include font-size(20px);
	}
}

.form-newsletter {
	max-width: 270px;
	width: 100%;
	p {
		display: inline-block;
		padding-right: 20px;
		&:last-child {
			padding-right: 0;
		}
		@include breakpoint(small, 'max') {
			padding: 0 0 20px;
			width: 100%;
		}
	}
	input[type='text'],
	input[type='email'] {
		@include font-size(14px);
		background-color: transparent;
		border: 1px solid;
		margin-bottom: 15px;
		text-transform: none;
	}
}

.row-form {
	margin-bottom: 50px;
	margin-top: 50px;
}

.form-contact {
	input,
	textarea {
		width: 100%;
	}
	.form-title {
		margin-bottom: 20px;
	}
	.row {
		padding: 5px 0;
		@include breakpoint(small, 'max') {
			&.first-row {
				input {
					margin-top: 10px;
					padding: 10px;
				}
			}
		}
	}
}

.form-description {
	@include font-size(16px);
	font-family: $proximanova-light;
	margin-bottom: 20px;
}

.input-search {
	@include font-size(22px);
	background: #ebf0f4 url('images/ico/buscar-ico.png') 15px center no-repeat;
	border-radius: 20px;
	color: #53b3f7;
	font-family: $bebas_neueregular;
	padding-left: 55px;
	width: 100%;
}

.form-search {
	margin-left: 45px;
	input::-webkit-input-placeholder { // WebKit, Blink, Edge
		color: #53b3f7;
	}
}

// .btn-search {
// 	background: $color-three url('images/icon-search.png') center center no-repeat;
// 	color: $color-one;
// 	cursor: pointer;
// 	padding: 17px;
// }